* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 512px;
    min-width: 400px;
    color: white;
    font-family: "DM Sans", sans-serif;
    background-color: #141318;
}



.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;

    .central-wrapper {

        display: flex;
        flex-grow: 1;

        overflow: hidden;

        .sidebar {

            width: 15%;
            flex-shrink: 0;

            .server {
                margin: 0.50rem;
                text-align: center;

                img {
                    width: 80%;
                }

                img:not(img[src$="logo.webp"]) {
                    border-radius: 50%;
                }
            }

            /* inserirsco la barra che indica il server attivo */
            .server:first-child {

                .selection-bar {
                    background-color: white;
                    height: 2.75rem;
                    width: 0.25rem;
                    border-radius: 0 6px 6px 0;
                    position: absolute;
                    top: 2%;
                    left: 0%;

                }
            }

            /* Inserisco l'effetto al passaggio del mouse */

            .server:hover {
                img {
                    width: 100%;
                }
            }

        }


        main {
            border-top-left-radius: 1rem;
            background-color: #1c1d22;
            flex-grow: 1;
            padding: 1rem;
            display: flex;
            flex-direction: column;


            h1 {
                font-size: larger;
            }

            .btns {
                display: flex;
                justify-content: space-between;
                margin: 0.5rem 0;
                gap: 0.5rem;

                div {
                    background-color: #373a43;
                    padding: 0.25rem;
                    font-size: 0.75rem;

                }

                /* stilizzo pulsante ricerca */
                div:first-child {
                    flex-shrink: 0;
                    width: 24px;
                    height: 24px;
                    border-radius: 2rem;
                    position: relative;

                    i {
                        position: absolute;
                        display: block;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                /* stilizzo pulsante aggiungi amici */
                div:last-child {
                    flex-grow: 1;
                    text-align: center;
                    border-radius: 2rem;

                    span {
                        font-size: 200;
                    }

                }
            }

            .chats {
                display: flex;
                flex-direction: column;
                overflow: auto;

                .chat {
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem;
                    gap: 0.5rem;
                    align-items: flex-start;
                    color: gray;
                    border-radius: 1rem;


                    .chat-image {
                        position: relative;
                        width: 35px;
                        height: 35px;

                        img {
                            width: 35px;
                            border-radius: 50%;

                        }

                        .status {
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            border: #1c1d22 solid 4px;
                            position: absolute;
                            top: 100%;
                            left: 100%;
                            transform: translate(-75%, -75%);



                        }

                        .green {
                            background-color: green;
                        }

                        .red {
                            background-color: red;
                        }

                        .yellow {
                            background-color: orange;
                        }
                    }



                    .text {
                        flex-grow: 1;

                        .chat-name {
                            font-size: smaller;
                        }

                        .last-message {
                            font-size: small;
                        }

                    }

                    .time-past {
                        font-size: smaller;
                    }
                }

                .chat:hover {
                    background-color: #26262e;
                    color: white;

                }

            }
        }

    }


    footer {
        height: 10%;
        background-color: #2d2d35;
        flex-shrink: 0;
        bottom: 0%;
        left: 0%;
        right: 0%;
    }

}